@use '../mixins' as *;

.frameSearch {
  @include flex1(null, column);
  flex: 1 0 435px;
  color: #999999;
}

.formSearch {
  @include flex1(null, column);
  background: #ffffff;
  min-height: 348px;
  padding: 24px;
  gap: 16px;
  min-height: 80vh;
}
