@use '../mixins' as *;

.frameSearch {
  @include flex1(null, column);
  flex: 1 0 270px;
  max-width: 100%;
  @media (min-width: 523px) {
    max-width: 44vw;
  }
  // @media (min-width: 811px) {
  //   max-width: 100%;
  // }
  .formSearch {
    @include flex1(null, column);
    background-color: var(--chakra-colors-bg\.frame);
    padding: 24px;
    gap: 16px;
    min-height: 80vh;
    .reposCard {
      padding: 20px;
      .reposCardHeader {
        @include flex1(space-between);
        align-items: center;
        div {
          display: flex;
          gap: 5px;
          align-items: center;
        }
      }
    }
    .chakra-accordion__panel {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-right: 10px;
    }
  }
}
