*,
*::before,
*::after {
  box-sizing: border-box;
  // border: 1px solid black;
}

#root {
  width: 100%;
}

body {
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
