*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
